.ChiTietSinhVien_content-coponent {
    padding-top: 50px;
    width: 80%;
    margin: auto;
    padding-bottom: 40px;

    & .ChiTietSinhVien_my-info {
        width: 100%;
        display: inline-block;
        background-color: #fff;
        margin-top: 2%;
        padding-bottom: 2%;
        border-radius: 12px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;

        & .ChiTietSinhVien_title-info {
            width: 100%;
            padding: 16px 0px;

            & span {
                font-size: larger;
                text-transform: uppercase;
                margin-left: 2%;
                margin-top: 2%;
            }
        }

        & .ChiTietSinhVien_avt {
            width: 28%;
            margin-top: 2%;
            display: inline-flex;
            flex-direction: column;
            align-items: center;

            & img {
                width: 60%;
            }

            & span {
                width: 100%;
                margin-top: 2%;
                text-align: center;
                display: block;
            }
        }

        & img {
            border-radius: 50%;
            width: 80%;
        }

        & .ChiTietSinhVien_text-info {
            width: 30%;
            display: inline-block;
            background-color: #fff;
            margin-top: 2%;

            & ul {
                margin-left: 16%;
                & li {
                    color: #000;

                    padding: 8px 0px;
                    list-style-type: none;
                }
            }
        }
        & .ChiTietSinhVien_text-info2 {
            width: 42%;
            display: inline-block;
            background-color: #fff;
            margin-top: 2%;

            & ul {
                margin-left: 16%;
                & li {
                    color: #000;

                    padding: 8px 0px;
                    list-style-type: none;
                }
            }
        }
    }
}
hr {
    width: 96%;
    margin: auto;
}
.ChiTietSinhVien_container {
    display: flex;
}
b {
    font-size: 14px;
}
.column {
    margin-left: 30px;
    margin-right: 30px;
    flex: 1;
    padding: 10px;
}
.ChiTietSinhVien_text-info-11 {
    padding-left: 80px;
}
.ChiTietSinhVien_text-info-111 {
    margin-top: 15px;
    width: 100%;
}

@media screen and (max-width: 840px) {
    .ChiTietSinhVien_content-coponent {
        padding-top: 50px;
        width: 80%;
        margin: auto;
        padding-bottom: 40px;
        & .ChiTietSinhVien_my-info {
            & .ChiTietSinhVien_avt {
                display: none;
            }

            & .ChiTietSinhVien_text-info {
                width: 50%;

                & ul {
                    margin: 0 !important;
                }
            }

            & .ChiTietSinhVien_text-info2 {
                width: 50%;

                & ul {
                    margin: 0 !important;
                }
            }
        }
    }
}
