.PhongHoc__content {
    margin-top: 55px;
    min-height: 700px;
    padding: 25px;
    position: relative;
}
.PhongHoc__lichHoc {
}
.PhongHoc__button {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 16px;
}
.PhongHoc__add {
    text-align: left;
}
.PhongHoc__update {
    text-align: right;
    border: 1px solid rgb(208, 201, 201);
    height: 50px;
    width: 450px;
    justify-items: center;
    align-items: center;
    display: flex;

    .date {
        margin-left: 10px;
    }
    .update {
        margin-left: 10px;
    }
}

.faded {
    opacity: 0.5; /* Điều chỉnh độ mờ tùy theo nhu cầu */
    pointer-events: none; /* Ngăn chặn sự tương tác với các phần tử bên dưới */
}
.PhongHoc_form {
    position: absolute;
    top: 5%;
    left: 35%;
    z-index: 80;
}

.form-container {
    background-color: #e8e3e3; /* Màu xám nhạt cho nền */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
    width: 400px; /* Điều chỉnh kích thước của biểu mẫu tùy theo nhu cầu */
    margin: 0 auto;
    text-align: left;
    position: relative;
}
.form-button-close {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: red;
    height: 25px;
    width: 25px;
    border-radius: 3px;
    align-items: center;
}
.form-button-close-x {
    background-color: transparent;
    color: white;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 16px;
}

.form-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* CSS cho các mục input và label */
.form-container label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

.form-container input[type='text'],
.form-container textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-container input[type='text'][readonly],
.form-container textarea[readonly] {
    background-color: #eee;
    cursor: not-allowed;
}

/* CSS cho nút cập nhật */
.form-container button {
    background-color: #007bff; /* Màu xanh dương */
    color: #fff; /* Màu chữ trắng */
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
}

.form-container button:hover {
    background-color: #0056b3; /* Màu xanh dương nhạt khi hover */
}

/* CSS cho nút cập nhật */
.form-container button {
    background-color: #007bff; /* Màu xanh dương */
    color: #fff; /* Màu chữ trắng */
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
}

.form-container button:hover {
    background-color: #0056b3; /* Màu xanh dương nhạt khi hover */
}

/////form maintance
.PhongHoc_formMaintance {
    height: 180px;
    padding: 5px 10px 5px 20px;
    border-radius: 5px;
    width: 450px;
    background-color: rgb(217, 217, 217);
    box-shadow: 6px 8px 15px rgba(0, 0, 0, 0.3);
}
.PhongHoc_formMaintance_button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.PhongHoc_formMaintance_close {
    height: 30px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: #fff;
    margin: 5px;
    border-radius: 3px;
}

/// form đổi lịch ---------------------------------
.PhongHoc__danhsach {
    position: relative;
}
.PhongHoc_doiLich {
    position: absolute;
    top: 5%;
    left: 15%;
    background-color: rgb(217, 217, 217);
    height: 620px;
    width: 950px;
    z-index: 90;
    border-radius: 5px;
}
.PhongHoc_doiLich_close {
    height: 30px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: #fff;
    margin: 10px;
    border-radius: 3px;
}
.PhongHoc_doiLich_dslich {
    height: 292px;
    margin: 5px 15px;
}
.PhongHoc_doiLich_dsphong {
    border-top: 1px solid gray;
    height: 212px;
    margin: 5px 15px;
}

.PhongHoc_doiLich_btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.PhongHoc_doiLich_btn > Button {
    margin-top: 6px;
    width: 300px;
}

///-------
.card-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 4 cột trong grid */
    gap: 20px;
    max-height: 300px;
    overflow-y: auto;
}

.card {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #9fcaf8;
}

.card > p {
    font-size: 10px;
}
//--------------
.PhongDoiLichGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 4 cột trong grid */
    gap: 20px;
    max-height: 140px;
    overflow-y: auto;
}
.PhongDoiLichItem {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    height: 120px;
    background-color: #e6e4e4; /* Màu xám */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 5px;
    transition: all 0.3s ease; /* Hiệu ứng chuyển động 0.3 giây */
}
.PhongDoiLichItem:hover {
    transform: scale(1.06); /* Tăng kích thước khi hover */
    background-color: #b0c4de; /* Màu xanh biển */
}
.clicked {
    background-color: #8aaddc; /* Màu đỏ khi clicked */
    box-shadow: 0 0 10px #b0c4de; /* Hiển thị đường viền mờ khi clicked */
    transition: background-color 0.3s ease; /* Hiệu ứng chuyển động màu nền 0.3 giây */
}
