.TaiKhoan_content {
    padding-top: 65px;
    min-height: 700px;
    display: grid;
    grid-template-columns: 3fr 1fr; /* Chia thành 2 cột, tỷ lệ 3/4 và 1/4 */
    gap: 16px;
}
.TaiKhoan_list {
}
.TaiKhoan_form {
}
.TaiKhoan_noidung {
    margin: 10px;
    padding-left: 40px;
}
.TaiKhoan_danhsach {
    height: 550px;
    max-height: 550px;
    overflow-y: auto;
}
.TaiKhoan_table {
    margin-top: 50px;
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 10px;
}

// .TaiKhoan_item,
// .TaiKhoan_table {
//     display: grid;
//     justify-content: center;
//     align-items: center;
//     grid-template-columns: 10% 30% 60%;
// }
.TaiKhoan_item {
    font-style: italic;
    border: 1px solid rgb(213, 210, 210);
}

.TaiKhoan_item:hover {
    cursor: pointer;
}
// ///form
.TaiKhoan_form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f7f7f7;
    height: 550px;
}

.TaiKhoan_form label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
}

.TaiKhoan_form input[type='text'],
.TaiKhoan_form input[type='password'],
.TaiKhoan_form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.TaiKhoan_form select {
    background-color: #fff;
    font-size: 16px;
    border: 1px solid #ccc;
}

.TaiKhoan_form button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 120px;
}

.TaiKhoan_form button:hover {
    background-color: #0056b3;
}

///--------------TaiKhoan SinhVien
///
.TaiKhoanSinhVien_content {
    margin: 10px;
    padding-left: 40px;
}
.TaiKhoanSinhVien_body {
    // max-height: 550px;
    // overflow-y: auto;
}
.TaiKhoanSinhVien_list {
    padding-top: 40px;
}
.TaiKhoanSinhVien_khoa,
.TaiKhoanSinhVien_table {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 10% 30% 60%;
}
.TaiKhoanSinhVien_table {
    font-weight: 700;
    font-size: 15px;
}
.TaiKhoanSinhVien_khoa {
    max-height: 300px;
    // overflow-y: auto;
    font-style: italic;
    border: 1px solid rgb(213, 210, 210);
}
